<h2>Контакты</h2>

<form action="/contacts" method="POST">
  <div class="mb-3">
    <label>Адрес электронной почты</label>
    <input name="user_email" type="text" class="form-control" placeholder="Email address">
  </div>

  <div class="form-floating">
    <label for="floatingTextarea2">Контакты</label>
    <textarea name="user_message" class="form-control" placeholder="Оставьте Ваш отзыв" id="floatingTextarea2" style="height: 100px"></textarea>
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
